# Node.js
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
lib/
pub/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
